@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>How This Privacy Policy Applies</h3>
<p>By using the Website, you are accepting the practices described in this Privacy Policy (including new versions of this Privacy Policy when and as they go into effect) and Bookshop’s Terms of Use (“Terms of Use”), which governs this Privacy Policy applies to those persons or entities who (i) purchase products on the Website, (ii) sell products on the Website through Bookshop’s Platform Seller Program (each, a “Platform Seller”), and (iii) participate in Bookshop’s Affiliate Program (each, an “Affiliate”) (collectively, “Users,” and each, a “User”, “you” or “your”). Capitalized words not defined in this Privacy Policy are defined in the Terms of Use. In the event of a conflict between this Privacy Policy and the terms and conditions applicable to the Platform Seller Program and the Affiliate Program, respectively, such terms and conditions applicable to the Platform Seller Program and the Affiliate Program shall apply respectively.</p>

This Privacy Policy descri<p>bes the information Bookshop collects from you through the Website, how Bookshop uses that information, and its legal basis for doing so. It also covers whether and how that information may be shared and your rights and choices regarding such information. For residents of the European Economic Area, Bookshop is the data controller responsible for your information.</p>

                          <h5>What Information Bookshop Collects and Receives</h5>
<p>In order for you to use the Website, Bookshop needs to collect and process certain information, which depending on how you use the Website, may include the following.</p>

<h5>Information You Provide</h5>
<p>
    Bookshop collects information you provide by using the Website, such as when:<br>

    Platform Sellers post Content (as such terms are defined in the Terms of Use).
    Users complete forms on or through the Website or subscribe to our newsletter. The information you provide may include your name, email address, mailing address, or telephone number.
    Make a request or transaction through the Website. Bookshop and Platform Sellers offer products for sale through the Website, and Bookshop and its payment processor will need to collect and use information such as your name, mailing address, billing address, email address, telephone number, and payment card information to process these requests and transactions.
    Communicate with Bookshop, such as when you request support, submit comments or questions, or report a problem to Bookshop.
</p>
<h3>2. Information Automatically Collected</h3>

<p>
    Bookshop also automatically or passively collects information that relates to your usage of the Website or that is necessary for the proper functioning or improvement of the Website, including:<br />

    Times and dates and the extent of your usage of the Website.
    Time zone, language, screen resolution, and other usage preferences you select when using the Website.
    Device keyboard settings.
    Usage history such as areas and pages within the Website that you access or use and/or which buttons on the Website you click on.
    The search terms you entered into a search engine that may have led you to the Website.
    The Internet service provider (ISP) or mobile platform you use.
    Other device and Website access information such as your browser type, operating system, Internet Protocol (IP) address, referring/exit pages, and other unique device identifiers.
    Bookshop also collects and maintain aggregated, anonymized, or pseudonymized information to protect the safety and security of the Website, improve the Website, or comply with its legal obligations.
</p>